*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

    }

    .header {
    
     font-family: sans-serif;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #47476b;
     padding: 20px;
     width: 100%;
    
    }

     .header img {
    
         height: 40px;
         width: 40px;
         margin-left: 100px;
         }

    
    .title1 {
    
         font-size: 27px;
         color: white;
         flex: 1;
         margin-left: 10px;
    
    }
 
    .fields {
    
         display: flex;
    
    }

     .fields a {
    
         font-size: 19px;
         text-decoration: none;
         color: white;
         margin: 0 10px;
    
         }
    
    